.loader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #014e56;
  z-index: 99;
}

.loader-hidden {
  display: none !important;
}

.loader {
  color: #ffffff;
  font-size: 45px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Livvic", sans-serif;
  background-color: #014E56;
}

.none {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1160px;
}

@font-face {
  font-family: "Livvic";
  src: local("Livvic Medium Italic"), local("Livvic-MediumItalic"), url("../fonts/livvic/Livvic-MediumItalic.woff2") format("woff2"), url("../fonts/livvic/Livvic-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Livvic";
  src: local("Livvic SemiBold"), local("Livvic-SemiBold"), url("../fonts/livvic/Livvic-SemiBold.woff2") format("woff2"), url("../fonts/livvic/Livvic-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Livvic";
  src: local("Livvic Bold"), local("Livvic-Bold"), url("../fonts/livvic/Livvic-Bold.woff2") format("woff2"), url("../fonts/livvic/Livvic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Livvic";
  src: local("Livvic Bold Italic"), local("Livvic-BoldItalic"), url("../fonts/livvic/Livvic-BoldItalic.woff2") format("woff2"), url("../fonts/livvic/Livvic-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.site-header {
  padding: 77px 0 129px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.header__logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.header__logo-link {
  display: inline-block;
  transition: opacity 0.3s ease-in;
}
.header__logo-link:hover {
  opacity: 80%;
}
.header__logo-link:active {
  opacity: 70%;
}

.header__navbar {
  margin-left: 80px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}

.navbar__item + .navbar__item {
  margin-left: 40px;
}

.navbar__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  transition: color 0.3s linear;
}
.navbar__link:hover {
  color: #f67e7e;
}

#active {
  color: #f67e7e;
}

.header__nav-mobile-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in;
  transform-origin: center right;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header__nav-mobile-wrapper.active {
  transform: scaleX(1);
}

.header__nav-mobile {
  padding: 56px 25px 0px 48px;
  position: absolute;
  right: 0;
  width: 255px;
  height: 100vh;
  background-color: #2c6269;
}

.header__nav-mobile__list {
  margin: 40px 0px 36px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.header__nav-mobile__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.header__nav-mobile__link:hover {
  color: #F67E7E;
}

.header__nav-mobile .header__contact-us {
  display: block;
  padding: 9px 0px 11px;
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__hamburger-clouse-btn {
  position: absolute;
  right: 25px;
  top: 56px;
  transition: opacity 0.3s ease-in;
}
.header__hamburger-clouse-btn:hover {
  opacity: 70%;
}
.header__hamburger-clouse-btn:active {
  opacity: 60%;
}

.header__hamburger-btn {
  display: none;
  background-color: transparent;
  border: none;
  transition: opacity 0.3s ease-in;
}
.header__hamburger-btn:hover {
  opacity: 70%;
}
.header__hamburger-btn:active {
  opacity: 60%;
}

.header__contact-us {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 9px 33px 11px 32px;
  border-radius: 24px;
  border: 2px solid #fff;
  transition: all 0.3s linear;
}
.header__contact-us:hover {
  background: #fff;
  color: #000;
}
.header__contact-us:active {
  position: relative;
  top: 1px;
}

@media (max-width: 800px) {
  .site-header {
    padding: 64px 0 112px;
  }
  .header__logo-img {
    width: 128px;
    height: 32px;
  }
  .header__navbar {
    margin-left: 48px;
  }
  .navbar__link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
  }
  .header__contact-us {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    padding: 8px 30px;
  }
}
@media (max-width: 580px) {
  .site-header {
    padding: 48px 0 80px;
  }
  .header__navbar,
  .header__contact-us {
    display: none;
  }
  .header__hamburger-btn {
    display: block;
  }
  .header__navbar--mobile {
    position: fixed;
    right: 0;
    width: 255px;
    height: 100%;
    display: block;
    background-color: #2c6269;
  }
}
.hero-section {
  background-image: url("../images/hero-section/hero-circle-bg.svg");
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position-x: calc(50% - 739px);
}

.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 250px;
  background-image: url("../images/hero-section/hero-bottom-bg.svg");
  background-repeat: no-repeat;
  background-size: 358px 100px;
  background-position: bottom right;
}

.hero__title-wrapper {
  width: 530px;
}

.hero__title {
  color: #FFF;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;
  margin: 0;
}

.hero__title--color {
  color: #F67E7E;
}

.hero__text-wrapper {
  width: 445px;
}

.content__line {
  width: 50px;
  height: 4px;
  margin-bottom: 79px;
  display: inline-block;
  background-color: #79C8C7;
}

.content__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 1007px) {
  .hero__title {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
  }
  .hero__title--color {
    color: #F67E7E;
  }
}
@media (max-width: 800px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
    background-position: bottom center;
  }
  .hero__title {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 24px;
  }
  .hero__title-wrapper {
    width: 100%;
  }
  .hero__text-wrapper {
    width: 100%;
  }
  .hero__title--color {
    color: #F67E7E;
  }
  .content__line {
    display: none;
  }
  .content__text {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}
@media (max-width: 580px) {
  .hero {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 197px;
    background-image: url("../images/hero-section/hero-bottom-bg-mobile.svg");
    background-size: 100% auto;
  }
  .hero__title {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 18px;
  }
  .hero__title--color {
    color: #F67E7E;
  }
}
.service-section {
  padding: 198px 0 140px;
  background-color: #012F34;
  background-image: url("../images/service-section/service-bg.svg");
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: bottom right;
}

.service {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
}

.service__title-wrapper {
  position: relative;
  width: 445px;
}
.service__title-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: -54px;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
}

.service__title {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.service__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.service__item {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
.service__item + .service__item {
  margin-top: 32px;
}

.service__item-content-wrapper {
  width: 445px;
  margin-left: 23px;
}

.inner-wrap__title {
  color: #F67E7E;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 16px;
}

.inner-wrap__text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

@media (max-width: 980px) {
  .service-section {
    padding: 136px 100px 0 98px;
    background-position: top right;
  }
  .service {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }
  .service__title-wrapper {
    width: 100%;
    margin-bottom: 64px;
  }
  .service__item-content-wrapper {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .service-section {
    padding: 64px 0px 64px;
  }
  .service__title-wrapper::before {
    top: -32px;
  }
  .service__title-wrapper {
    margin-bottom: 56px;
    width: 65%;
  }
  .service__title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  .service__item {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
  }
  .service__item + .service__item {
    margin-top: 48px;
  }
  .service__item-content-wrapper {
    margin-left: 0px;
    width: 100%;
  }
  .inner-wrap__title {
    margin-bottom: 8px;
    margin-top: 16px;
  }
}
.reviews {
  position: relative;
  padding: 140px 0px;
  height: 745px;
  background-image: url(../../images/reviews/reviews-top-bg.svg), url(../../images/reviews/reviews-bottom-bg.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 147px 100px, 200px 100px;
  background-color: #004047;
}

.reviews-row {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  color: #fff;
}

.reviews__content {
  max-width: 932px;
  text-align: center;
}

.reviews__item {
  max-width: 350px;
}

.reviews__content__title {
  margin-bottom: 56px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.text-whitegreen {
  color: #79C8C7;
}

.reviews__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.reviews__item__content {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  text-align: center;
}
.reviews__item__content::before {
  content: "";
  position: absolute;
  top: -36px;
  right: 50%;
  transform: translateX(50%);
  width: 67px;
  height: 56px;
  background-image: url(../images/reviews/content-icon.svg);
}

.reviews__item__content__text {
  margin-bottom: 24px;
  position: relative;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
}

.reviews__item__user-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.user-name {
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #79C8C7;
}

.user-profession {
  margin-bottom: 32px;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
}

@media (max-width: 970px) {
  .reviews {
    padding: 100px 0px;
    height: 1200px;
  }
  .reviews-row {
    height: 999px;
  }
  .reviews__content {
    max-width: 490px;
  }
  .reviews__content__title {
    margin-bottom: 84px;
    font-size: 32px;
    line-height: 32px;
  }
  .reviews__item__content {
    height: auto;
  }
  .reviews__list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 84px;
  }
  .reviews__item {
    max-width: 573px;
  }
  .reviews__item__content__text {
    margin-bottom: 16px;
    font-size: 15px;
  }
  .user-profession {
    margin-bottom: 16px;
  }
}
@media (max-width: 450px) {
  .reviews {
    padding: 140px 0px 164px;
    height: 1410px;
  }
  .reviews-row {
    height: 1106px;
  }
  .reviews__content {
    max-width: 327px;
  }
}
.contacts {
  padding: 76px 0px;
  background-color: #F67E7E;
  background-image: url(../images/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: 200px 144px;
  background-position-x: left;
  background-position-y: 75px;
}

.contacts__content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.contacts__content__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  color: #012F34;
}

.contacts__content__btn {
  padding: 9px 0px 11px;
  width: 153px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  border: 2px solid #012F34;
  color: #012F34;
  border-radius: 24px;
  transition: all 0.3s ease-in;
}
.contacts__content__btn:hover {
  background-color: #012F34;
  color: #fff;
}
.contacts__content__btn:active {
  position: relative;
  top: 1px;
}

@media (max-width: 950px) {
  .contacts__content__title {
    font-size: 32px;
    line-height: 32px;
  }
}
@media (max-width: 620px) {
  .contacts {
    padding: 83px 0px;
    background-position-y: 180px;
  }
  .contacts__content {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    row-gap: 24px;
    text-align: center;
  }
}
.site-footer {
  padding: 48px 0px;
  background-color: #002529;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer__logo-wrapper {
  margin-right: 125px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  row-gap: 25px;
}

.footer__logo {
  display: inline-block;
  transition: opacity 0.3s ease-in;
}
.footer__logo:hover {
  opacity: 80%;
}
.footer__logo:active {
  opacity: 70%;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.footer__link {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  transition: color 0.3s ease-in;
}
.footer__link:hover {
  color: #F67E7E;
}

.footer__contacts {
  margin-right: 407px;
}

.footer__contacts__text {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social__wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  row-gap: 51px;
}

.footer__social-icons-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.footer__social-icons-link {
  display: block;
  transition: all 0.3s ease-in;
}

.footer__social-icons-item:nth-child(1) .footer__social-icons-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/footer/icon-01.svg);
}
.footer__social-icons-item:nth-child(1) .footer__social-icons-link:hover {
  background-image: url(../images/footer/icon-01-hover.svg);
}

.footer__social-icons-item:nth-child(2) .footer__social-icons-link {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/footer/icon-02.svg);
}
.footer__social-icons-item:nth-child(2) .footer__social-icons-link:hover {
  background-image: url(../images/footer/icon-02-hover.svg);
}

.footer__social-icons-item:nth-child(3) .footer__social-icons-link {
  display: inline-block;
  width: 24px;
  height: 20px;
  background-image: url(../images/footer/icon-03.svg);
}
.footer__social-icons-item:nth-child(3) .footer__social-icons-link:hover {
  background-image: url(../images/footer/icon-03-hover.svg);
}

.footer__copyright__text {
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 1160px) {
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer__contacts {
    margin-right: 270px;
  }
}
@media (max-width: 1020px) {
  .site-footer {
    padding: 56px 0px;
  }
  .footer__logo-wrapper {
    margin-right: 90px;
  }
  .footer__contacts {
    margin-right: 250px;
  }
  .footer-row {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
  }
  .footer__logo-wrapper {
    margin-bottom: 32px;
    margin-right: unset;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    row-gap: 53px;
  }
  .footer__social__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .footer__contacts {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: unset;
  }
}
@media (max-width: 450px) {
  .site-footer {
    padding: 65px 0px;
    height: 432px;
  }
  .footer-row {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    text-align: center;
  }
  .footer__logo-wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    row-gap: 24px;
  }
  .footer__logo {
    width: 96px;
    height: 24px;
  }
  .footer__contacts {
    position: relative;
    margin-bottom: 40px;
    margin-right: unset;
  }
  .footer__social__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    row-gap: 16px;
  }
}
.intro-section {
  padding-bottom: 120px;
  min-height: 276px;
  background-image: url(../images/about/about-bg.svg);
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background-position: right bottom;
}

.intro-rwo {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  -moz-column-gap: 175px;
       column-gap: 175px;
}

.intro__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  color: #fff;
}

.intro__content {
  position: relative;
  padding-top: 40px;
}
.intro__content::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 40px;
  height: 4px;
  background-color: #F67E7E;
}

.intro__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 770px) {
  .intro-section {
    padding-bottom: 112px;
  }
  .intro-rwo {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    -moz-column-gap: unset;
         column-gap: unset;
    row-gap: 24px;
  }
  .intro__content {
    padding-top: unset;
    max-width: 457px;
    text-align: center;
  }
  .intro__content::before {
    display: none;
  }
}
@media (max-width: 450px) {
  .intro-section {
    background-position: right 250px;
  }
  .intro__title {
    font-size: 40px;
    line-height: 40px;
  }
  .intro__text {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}
@media (max-width: 380px) {
  .intro-section {
    background-position: right 280px;
  }
}
@media (max-width: 340px) {
  .intro-section {
    background-position: right 300px;
  }
}
.directors {
  padding: 140px 0px;
  background-color: #004047;
  background-image: url(../images/directors/directors-top-bg.svg), url(../images/directors/directors-bottom-bg.svg);
  background-repeat: no-repeat;
  background-size: 100px 200px, 155px 100px;
  background-position: left top, right bottom;
}

.directors__title {
  margin-bottom: 64px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.directors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 30px;
}

.directors__item {
  overflow: hidden;
  position: relative;
  padding: 32px 24px 56px;
  width: 350px;
  height: 281px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  background-color: #012f34;
  cursor: pointer;
}
.directors__item::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(50%);
  width: 56px;
  height: 56px;
  background-color: #F67E7E;
  background-image: url(../images/directors/btn-icon.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  z-index: 1;
}
.directors__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 28px;
  bottom: 0;
  background-color: #004047;
}
.directors__item:hover::before {
  transform: translateX(50%) rotate(135deg);
  background-color: #79C8C7;
}
.directors__item:hover .directors__item__hover__content {
  transform: translateY(0%);
}

.directors__item__img {
  margin-bottom: 16px;
}

.directors__item__user-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79c8c7;
}

.directors__item__user-profession {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  font-style: italic;
  color: #fff;
}

.directors__item__hover__content {
  padding: 35px 24px 63px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  background-color: #002529;
  transition: transform 0.3s ease-in;
}

.hover-content {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.hover-content__title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #79C8C7;
}

.hover-content__text {
  margin-bottom: 24px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
}

.hover-content__social-icons-list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.hover-content__social-icons-item:nth-child(1) .hover-content__social-icons-link {
  width: 24px;
  background-image: url(../images/directors/twitter.svg);
  background-size: 100%;
}
.hover-content__social-icons-item:nth-child(1) .hover-content__social-icons-link:hover {
  background-image: url(../images/directors/twitter-hover.svg);
}

.hover-content__social-icons-item:nth-child(2) .hover-content__social-icons-link {
  background-image: url(../images/directors/linkedin.svg);
  background-size: 100%;
}
.hover-content__social-icons-item:nth-child(2) .hover-content__social-icons-link:hover {
  background-image: url(../images/directors/linkedin-hover.svg);
}

.hover-content__social-icons-link {
  width: 20px;
  height: 20px;
  display: inline-block;
  transition: all 0.3s ease-in;
}

@media (max-width: 850px) {
  .directors {
    padding: 100px 0px;
  }
  .directors__title {
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;
  }
  .directors__list {
    gap: 48px 11px;
  }
  .directors__item {
    width: 281px;
  }
}
@media (max-width: 450px) {
  .directors {
    padding: 88px 0px;
    background-position: left -105px, right bottom;
  }
  .directors__title {
    font-size: 30px;
    line-height: 30px;
  }
  .directors__list {
    gap: 24px 0px;
  }
  .directors__item {
    width: 327px;
  }
  .hover-content__text {
    font-size: 14px;
  }
}
.clients {
  padding: 140px 0px;
  background-color: #012F34;
  background-image: url(../images/clients/clients-bg.svg);
  background-repeat: no-repeat;
  background-size: 200px 200px;
  background-position: left top;
}

.clients__title {
  margin-bottom: 64px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #fff;
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .clients {
    padding: 100px 0px;
    background-position: left -100px;
  }
  .clients__item:nth-child(1) img {
    width: 103px;
    height: 17px;
  }
  .clients__item:nth-child(2) img {
    width: 114px;
    height: 14px;
  }
  .clients__item:nth-child(3) img {
    width: 112px;
    height: 17px;
  }
  .clients__item:nth-child(4) img {
    width: 103px;
    height: 17px;
  }
  .clients__item:nth-child(5) img {
    width: 61px;
    height: 28px;
  }
}
@media (max-width: 450px) {
  .clients {
    padding: 88px 0px;
    background-position: -100px -100px;
  }
  .clients__title {
    font-size: 29px;
    line-height: 30px;
  }
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    row-gap: 57px;
  }
  .clients__item:nth-child(1) img {
    width: 147px;
    height: 24px;
  }
  .clients__item:nth-child(2) img {
    width: 162px;
    height: 20px;
  }
  .clients__item:nth-child(3) img {
    width: 159px;
    height: 24px;
  }
  .clients__item:nth-child(4) img {
    width: 146px;
    height: 24px;
  }
  .clients__item:nth-child(5) img {
    width: 86px;
    height: 40px;
  }
}/*# sourceMappingURL=main.css.map */